[submodule "nostr_godot_gdextension_godot-cpp"]
	path = addons/nostr_godot/gdextension/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "addons/nostr_godot/gdextension/godot-cpp"]
	path = addons/nostr_godot/gdextension/godot-cpp
	url = https://github.com/godotengine/godot-cpp
